@use "widget" as *;

.page-selector {
  @extend %widget;

  .material-icons {
    color: var(--cl-constrast-700);
    cursor: pointer;
    user-select: none;

    &:hover {
      color: var(--cl-constrast-800)
    }
  }

  .disabled-icon {
    color: var(--cl-constrast-600) !important;

    &:hover {
      cursor: not-allowed;
    }
  }
}
