@use "widget" as *;

.tags-selector {
  @extend %widget;
  flex-wrap: wrap;
  height: unset;
  justify-content: flex-start;
  min-height: 50px;
  max-width: 50%;

  .add-button {
    cursor: pointer;
    user-select: none;
    margin-left: auto;
  }

  .tag {
    $spacing: .5rem;

    transition: none;
    margin: $spacing ($spacing / 2);
  }
}

.search-popup {
  transform: translate(-115%, 10px);
  background: var(--cl-constrast-300);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  color: var(--cl-constrast-600);
  position: absolute;
  padding: 1.2rem;
  z-index: 10;
  border-radius: 1.5rem;

  .search-entry {
    margin: 1rem 0;
    cursor: pointer;
  }
}
