%widget {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background: var(--cl-constrast-400);
  padding: 1rem 1.8rem;
  color: var(--cl-constrast-800);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .2);
  height: 50px;

  .text-display {
    $spacing: .3em;

    border-radius: .75em;
    background: var(--cl-constrast-300);
    padding: .3em .5em;
    margin-left: $spacing;
    margin-right: $spacing;
  }

  select {
    outline: none;
    border: none;
    font: inherit;
    text-transform: lowercase;
    appearance: none;
    display: inline-block;
    cursor: pointer;
  }
}
