.table-container {
  overflow: scroll;
  height: 100vh;
}

.layout-text {
  display: flex;
}

.desc {
  display: inline-block;
}

.desc-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
