.table-container {
  overflow: scroll;
  height: 100vh;
}

.layout-text {
  display: flex;
}

.desc {
  display: inline-block;
}

.desc-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .desc-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    > * {
      margin: .5rem 1rem;
    }
  }
}
