@use "components/table";
@use "components/widget";
@use "components/markdown";
@use "scrollbar";

@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
@import url("http://fonts.cdnfonts.com/css/arlon");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  transition: color, background-color .2s ease;
}

.material-icons {
  user-select: none;
}

@mixin generate-contrast($colors) {
  @each $key, $value in $colors {
    --cl-contrast-#{$key}: #{$value};
  }
}

/* LIGHT MODE */
html:root {
  @include generate-contrast((
    300: white,
    400: #f1f1f1,
    500: #bcbcbc,
    600: #969696,
    700: #4c4c4c,
    800: #1c1c1c
  ));
}

/* DARK MODE */
html.dark:root {
  @include generate-contrast((
    300: #2b2b2b,
    400: #404040,
    500: #535353,
    600: #888585,
    700: #a7a7a7,
    800: #ededed,
  ));
}
