@use "new/header";
@use "new/widget";

.material-icons {
  user-select: none;
}

.old {
  //@import "root";
  //@import "components";

  * {
    box-sizing: border-box;
    transition: color, background .2s ease;
  }

  html,
  body {
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
  }

  a {
    color: unset;
    text-decoration: none;
  }
}
