@use "../abstracts/fonts";
@use "../abstracts/breakpoints" as *;

.layout {
  display: flex;
  background: var(--cl-constrast-400);
  min-height: 100vh;
}

.layout-content {
  margin-left: auto;
  width: 100%;
  font-size: 1.8rem;
  background: var(--cl-constrast-300);
  border-radius: 40px 0 0 40px;
  font-family: fonts.$default;
  font-weight: 300;
  color: var(--cl-constrast-700);
  transition: border-radius .2s ease;

  h1 {
    margin: 0;
    font-size: 4.4rem;
    font-weight: 400;
    color: var(--cl-constrast-800);
  }
}

.layout-text {
  padding: 6.5rem 7.5rem 0;
}

@include small {
  .layout-content {
    border-radius: 0;
  }
}
