// I really hate this file, I need to refactor this.

@use "../abstracts/colors";

.table {
  $author-row-index:  1;
  $title-row-index:   2;
  $version-row-index: 3;
  $date-row-index:    4;

  margin-top: 7rem;

  table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
  }

  tbody * {
    font-weight: 300;
    color: var(--cl-constrast-600);
  }

  thead * {
    font-weight: 400;
  }

  th {
    border: 2px solid #d1d1d1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &:nth-child(#{$author-row-index}) {
      width: 12%;
    }

    &:nth-child(#{$title-row-index}) {
      width: 50%;
      text-overflow: initial;
    }

    &:nth-child(#{$version-row-index}) {
      width: 10%;
    }

    &:nth-child(#{$date-row-index}) {
      width: 10%;
    }
  }

  tr {
    height: 4rem;

    &:not(.disabled) {
      cursor: pointer;
    }

    &:not(thead *):nth-child(2n-1) {
      background: var(--cl-constrast-400);
    }
  }

  tbody th {
    text-align: left;
    border-bottom: none;
    border-top: none;
    padding: 0 2.5rem;

    &:nth-child(#{$author-row-index}) {
      text-align: right;
    }

    &:nth-child(#{$version-row-index}),
    &:nth-child(#{$date-row-index}) {
      text-align: center;
      padding: initial;
    }
  }

  th:first-child   { border-left:   none; }
  th:last-child    { border-right:  none; }

  .row-id {
    color: var(--cl-constrast-500);
    margin-right: 1rem;
  }
}
