@use "../abstracts/colors";

.tag {
  border-radius: 1em;
  color: var(--cl-constrast-300) !important;
  padding: 0.3rem 1rem;
  margin-left: 10px;
  background: map-get(colors.$tags, "other");
  font-weight: 300 !important;
  font-size: .85em;
  display: inline-flex;
  align-items: center;

  .material-icons {
    margin-left: .2rem;
    font-size: 1em;
    cursor: pointer;
  }
}

@each $type, $color in colors.$tags {
  .#{$type}-tag {
    background: $color;
  }
}
