%entry {
  font-size: .9em;
  vertical-align: middle;
  display: flex;
  align-items: center;
  margin: .8em 0;

  .entry-icon {
    fill: var(--cl-constrast-500);
  }

  .entry-name {
    margin-left: 1rem;
  }
}

.file-browser {
  color: var(--cl-constrast-600);
  background: var(--cl-constrast-400);
  border-radius: 1em;
  padding: 2rem;

  h3 {
    margin: 0;
    font-weight: 500;
  }

  .file {
    @extend %entry;
  }

  .directory {
    @extend %entry;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}
