$white: white;
$light-gray: #f2f2f2;
$gray: #bcbcbc;
$dark-gray: #969696;
$very-dark-gray: #4c4c4c;
$black: #1c1c1c;

$lightmode: (
  300: $white,
  400: $light-gray,
  500: $gray,
  600: $dark-gray,
  700: $very-dark-gray,
  800: $black
);

$darkmode: (
  300: #2b2b2b,
  400: #404040,
  500: #535353,
  600: #888585,
  700: #a7a7a7,
  800: #ededed,
);

$tags: (
  redstone: #f29ea0,
  slimestone: #b0d9af,
  storage: #46504e,
  farms: #f1e0a4,
  mob-farms: #aeb2d7,
  bedrock: $very-dark-gray,
  computational: orange,
  other: #d5d9d5
);
