.search-bar {
  input[type="text"] {
    background: var(--cl-constrast-300);
    color: var(--cl-constrast-800);
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    padding: 1em;
    font-size: 1.4rem;
  }
}
